<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="legacy" translate="label" sortOrder="50">
            <label>Legacy</label>
        </tab>
        <section id="popup" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Popup</label>
            <tab>legacy</tab>
            <resource>Legacy_Popup::popup_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="dont_show_btn" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Checkbox "Don't show this Popup again."</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="cookie_exp" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Popup will be shown again after</label>
                    <validate>validate-digits</validate>
                    <comment>days. Leave empty to redisplay the popup after 30 days</comment>
                </field>
            </group>
        </section>
    </system>
</config>
