/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2022-08-24 09:13:49 */
 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');body.boxed {
}

.layout-1220 .block.category.event, .layout-1220 .footer.content, .layout-1220 .header.content, .layout-1220 .navigation, .layout-1220 .page-main, .layout-1220 .page-wrapper>.breadcrumbs >ul, .layout-1220 .page-wrapper>.page-bottom, .layout-1220 .page-wrapper>.widget, .layout-1220 .top-container, .layout-1220 .container, .container,.page-header.type15 .header-main .header.content {
    max-width: 80%;
    padding-left: 0!important;
    padding-right: 0!important;
    margin: 0 auto;
}
body {
    line-height: 25px;
    letter-spacing: 0;
    background-color: #f4f4f4;
}
p {
    letter-spacing: 0;
}
li {
    line-height: 25px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Poppins,sans-serif;
    color: #222529;
    letter-spacing: normal;
}
h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -.64px;
    margin: 0 0 32px 0;
}
h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -.5px;
    margin: 0 0 32px 0;
}
h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 20px 0;
}
h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 14px 0;
}
h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    margin: 0 0 14px 0;
}
h6 {
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;
}

.header.panel > .header.links > li.greet.welcome {
    white-space: nowrap;
}
.header.panel > .header.links > li.link.authorization-link:hover {
    color: #d86300;
}
.header.panel > .header.links > .customer-welcome + .authorization-link {
    display: inline-block;
}

.header.panel > .header.links > li.customer-welcome > span {
    display: none;
}

.nav-sections .customer-welcome + .authorization-link {
    display: inline;
}

.nav-sections .customer-welcome span {
    display: none;
}

#welcome-h2{
    font-size: 15px;
}

/*.toolbar.toolbar-products {*/
/*    display: none;*/
/*}*/

/*.field.limiter {*/
/*     display: none; */
/*}*/

.register-form-wrapper{
    background-color: #FFF;
    padding: 0 10px;
}

.checkout-onepage-success main#maincontent {
    padding-bottom: 40px;
    max-width: 80% !important;
    margin: 0 auto;
}

.checkout-cart-index main#maincontent {
    padding-bottom: 40px;
    margin: 0 auto;
}

.catalog-product-view main#maincontent{
    padding: 0 20px;
}

.columns .column.main {
    padding: 0 15px;
}

.product-brand-main {
    margin-left: 10px;
}

.page-title-wrapper{
    margin-left: 10px;
}

.product-info-main .product-brand-main {
    margin-left: 0px !important;
}

.product-info-main .page-title-wrapper {
    margin-left: 0px !important;
}

ul.main-menu > li > ul {
    background: #F4F4F4;
    box-shadow: 0px 0px 2px rgb(60 64 81 / 4%), 0px 4px 8px rgb(60 64 81 / 8%);
    border-radius: 0px 0px 6px 6px !important;
}

.home-banner-slider h2.vc_custom_heading, .custom-font4 {
    font-family: 'Segoe Script','Savoye LET';
}
html .heading-secondary, html .lnk-secondary, html .text-color-secondary {
    color: #ff7272;
}
html .btn-modern {
    text-transform: uppercase;
    font-size: .75rem;
    padding: .75rem 1.5rem;
    font-weight: 600;
    height: auto;
}
html .action.primary, html .btn {
    line-height: 1.42857;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .15em;
    padding: 1.125em 2.1em;
    font-family: Poppins,sans-serif;
    font-size: .8rem;
}
html .btn-modern {
    font-size: .8125rem;
    padding: 1em 2.8em;
}
html .btn-lg {
    line-height: 1.3333;
}
html .action.primary {
    color: #fff;
    background-color: #ea7021;
    border-color: #ea7021 #ea7021 #ea7021;
    border-radius: 6px;
}
html .btn-xl {
    font-size: 1rem;
    padding: .8rem 2rem;
}
.btn-modern.btn-xl {
    font-size: 1rem;
    padding: 1.25em 3.125em;
}
.btn-modern.btn-lg {
    font-size: .875rem;
    padding: 1rem 2.25rem;
}
.btn-flat {
    padding: 0!important;
    background: none!important;
    border: none!important;
    border-bottom: 1px solid transparent!important;
    box-shadow: none!important;
    text-transform: uppercase;
    font-size: .75rem;
}
html .btn-dark {
    color: #fff;
    background-color: #222529;
    border-color: #222529 #222529 #0b0c0e;
}

html .btn-orange {
    color: #fff;
    background-color: #ea7021;
    border-color: #ea7021 #ea7021 #ea7021;
    border-radius: 6px;
}
html .btn-orange:hover {
    background-color: #d86300;
}
#homepage-txt3 {
    padding: 60px;
    width: 90%;
    margin: 0 auto;
}
#homepage-txt3 h2 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #3C4051;
    display: block;
    clear: both;
    width: 100%;
}
#homepage-txt3 ul {
    display: block;
    clear: both;
    width: auto;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}
#homepage-txt3 ul li {
    float: left;
    display: inline;
    margin: 0 15px;
}
#homepage-txt3 ul li a:hover img {
    box-shadow: 0px 0px 8px rgb(70 74 90 / 4%), 0px 8px 16px rgb(70 74 91 / 40%);
}
#homepage-txt3 ul li a img {
    display: block;
    clear: both;
    text-align: center;
    padding: 20px 30px;
    margin: 0 auto;
    margin-top: 20px;
    height: 198px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgb(60 64 81 / 4%), 0px 8px 16px rgb(60 64 81 / 8%);
    border-radius: 10px;
}
#homepage-txt3 ul li a p {
    text-align: center;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px !important;
    line-height: 24px !important;
    text-align: center;
    color: #000;
    margin-top: 15px;
}
#categories-brands {
    max-width: 100% !important;
}

#mpsearch-category {
    font-size: 11px;
}

.desktop-only{
    display: block;
}
.mobile-only{
    display: none;
}
.action-primary {
    background: #ea7021;
}
button:not(.primary) {
    line-height: 0em;
    color: #fff;
    background-color: #ea7021;
    border-color: #ea7021 #ea7021 #ea7021;
    border-radius: 6px;
}
button:not(.primary):hover {
    background-color: #d86300;
}
.action-primary.action-accept{
    min-width: 120px !important;
    margin-bottom: 5px !important;
    padding: 0px;
    background-color: #ea7021;
    border-color: #ea7021 #ea7021 #ea7021;
}
.action-secondary.action-dismiss {
    min-width: 120px !important;
    margin-bottom: 5px !important;
}

.product-disclaimer-main {
    font-size: 10px !important;
    margin: 0;
    position: absolute;
    margin-top: 12px;
    color: #e02b27;
}

.product-item .tocart:before {
    content: 'cart';
    border: none;
    color: transparent;
    margin-left: 0;
    background: url(/media/wysiwyg/cart.png) no-repeat;
    background-size: 16px;
    display: inline;
    margin-top: 15px;
    width: 20px;
}
.product-item .tocart span {
    margin-left: -5px;
}
.box-tocart .action.tocart:before {
    font-size: 1.3rem;
    content: 'cart';
    border: none;
    color: transparent;
    margin-left: 0;
    background: url(/media/wysiwyg/cart.png) no-repeat;
    background-size: 20px;
    display: inline;
    margin-top: 10px;
    width: 20px;
}
.box-tocart .action.tocart span {
    margin-left: -40px;
}

.cart-design-2 .action.showcart .minicart-icon {
    width: 25px;
    height: 20px;
    position: relative;
    opacity: 1;
    margin: 6px 3px 0;
    font-size: 32px;
    border: none;
    border-radius: unset;
}
.cart-design-2 .action.showcart .minicart-icon::before {
    border: none;
    color: transparent;
    margin-left: -18px;
    background: url(/media/wysiwyg/mini-cart.png) no-repeat;
    background-size: 28px;
    display: inline;
    width: 30px;
    height: 30px;
    top: -5px;
    border-radius: unset;
}

.porto-icon-bag-2:before {
    content: 'cart';
    border: none;
    color: transparent;
    margin-left: 0;
    background: url(/media/wysiwyg/mini-cart.png) no-repeat;
    background-size: 100px;
    width: 100px;
    height: 100px;
    opacity: 0.2;
}

.minicart-wrapper .action.showcart .minicart-icon {
    width: 25px;
    height: 20px;
    position: relative;
    opacity: 1;
    margin: 6px 3px 0;
    font-size: 32px;
    border: none;
    border-radius: unset;
}

.porto-icon-shopping-cart:before {
    border: none;
    color: transparent;
    margin-left: -18px;
    background: url(/media/wysiwyg/mini-cart.png) no-repeat;
    background-size: 28px;
    display: inline;
    width: 30px;
    height: 30px;
    top: -5px;
    border-radius: unset;
}

.minicart-items .product-item-details .details-qty button{
    height: 25px;
    line-height: 0em;
    color: #fff;
    background-color: #ea7021;
    border-color: #ea7021 #ea7021 #ea7021;
    border-radius: 6px;
    width: 50px;
    padding: 0px;
}
.minicart-items .product-item-details .details-qty button:hover{
    background-color: #d86300;
}

.product-item-info{
    text-align: left;
}
.product-item-details .product-item-inner {
    display: block !important;
    text-align: right;
    float: none;
    clear: both;
}

#layer-product-list {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

#homep .row2 {
    text-align: center;
}

#homep .row .col p{
    padding: 20px 0 20px 0 !important;
}

.product-items .item.product.product-item .action.tocart.primary {
    width: 93px !important;
    height: 25px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border: none;
    margin-top: 5px;
    font-size: 10px;
    margin-left: 5px;
}
.product-item-info .product-item-details .product-item-actions .tocart {
    width: 93px !important;
    height: 25px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border: none;
    margin-top: 5px;
    font-size: 10px;
    margin-left: 5px;
}
.product-items .item.product.product-item .stock.available {
    float: left;
    text-align: left;
}
.product-items .item.product.product-item .stock.available span {
    background: #f8c064;
    border-radius: 4px;
    padding: 0 6px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #ffffff !important;
}
.product-image-photo.default_image {
    border-radius: 5px !important;
    filter: drop-shadow(0px 0px 8px rgba(60, 64, 81, 0.04)) drop-shadow(0px 2px 4px rgba(60, 64, 81, 0.08));
}

.product-item-inner .stock.unavailable{
    font-size: 11px;
    float: left;
    color: #e02b27;
    background: #f2d6dc;
    border-radius: 4px;
    padding: 0 6px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    margin-top: 10px;
}

.stock.available.grid_qi span {
    background: #f8c064;
    border-radius: 4px;
    padding: 0 6px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #ffffff !important;
}

.stock.unavailable.list_qi{
    font-size: 11px;
    float: left;
    color: #e02b27;
    background: #f2d6dc;
    border-radius: 4px;
    padding: 0 6px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    margin-top: 10px;
}

.product-info-main .stock.available span+span{
    background: #f8c064;
    border-radius: 4px;
    padding: 0 6px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #ffffff !important;
}

.product-info-main .stock.unavailable span+span{
    font-size: 11px;
    color: #e02b27;
    background: #f2d6dc;
    border-radius: 4px;
    padding: 0 6px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    margin-top: 10px;
}

ol.product-items.widget-product-grid .product-item-details .stock.available.grid_qi
{
    float: left;
}

ol.product-items.widget-product-grid .product-item-details .product-item-actions{
    float: right;
}

ol.product-items.widget-product-grid .product-item-details .product-item-actions .stock.unavailable {
    display: none;
}

.bv-box:before {
    display: inline-flex;
    content: 'cart';
    border: none;
    color: transparent;
    background: url(/pub/media/wysiwyg/bv-icon.png) no-repeat;
    background-position-y: 1px;
    width: 23px;
    background-size: 16px 16px;
}
.bv-box {
    position: relative;
    padding: 4px 6px;
    /*background-color: #89d2f7;*/
    border-radius: 24px;
    height: revert;
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    /*color: #ffffff !important;*/
}
.rsp-box:before {
    display: inline-flex;
    content: 'cart';
    border: none;
    color: transparent;
    background: url(/pub/media/wysiwyg/rsp-icon.png) no-repeat;
    background-position-y: 1px;
    width: 23px;
    background-size: 16px 16px;
}
.rsp-box {
    position: relative;
    padding: 4px 6px;
    /*background-color: #f8c064;*/
    border-radius: 24px;
    height: revert;
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    /*color: #ffffff !important;*/
}

#product-bv.product-bv-main:before {
    display: inline-flex;
    content: 'cart';
    border: none;
    color: transparent;
    background: url(/pub/media/wysiwyg/bv-icon.png) no-repeat;
    background-position-y: 1px;
    width: 23px;
    background-size: 16px 16px;
}
#product-bv.product-bv-main {
    position: relative;
    padding: 1px 8px 2px 8px;
    background-color: #89d2f7;
    border-radius: 24px;
    height: revert;
    display: inline-block;
    font-weight: 700;
    font-size: 11px;
    line-height: 19px;
    color: #ffffff !important;
    margin-right: 10px;
}
#product-rsp.product-rsp-main:before {
    display: inline-flex;
    content: 'cart';
    border: none;
    color: transparent;
    background: url(/pub/media/wysiwyg/rsp-icon.png) no-repeat;
    background-position-y: 1px;
    width: 23px;
    background-size: 16px 16px;
}
#product-rsp.product-rsp-main {
    position: relative;
    padding: 1px 8px 2px 8px;
    background-color: #f8c064;
    border-radius: 24px;
    height: revert;
    display: inline-block;
    font-weight: 700;
    font-size: 11px;
    line-height: 19px;
    color: #ffffff !important;
}

.product-info-main .product-reviews-summary {
    display: none;
}
.product-info-main .page-title-wrapper h1 {
    font-size: 1.5rem;
}
.product-info-price {
    font-size: 1.4rem;
    line-height: 2;
}
.cart-empty .btn-go-shop {
    color: #fff;
    background-color: #ea7021;
    border-color: #ea7021 #ea7021 #ea7021;
    border-radius: 6px;
}
.cart-empty .btn-go-shop:hover {
    background: #d86300;
}
.cart.actions button.action:not(:hover){
    color: #fff;
    background-color: #ea7021;
    border-color: #ea7021 #ea7021 #ea7021;
    border-radius: 6px !important;
}
.cart.actions button.action:hover {
    background: #d86300;
    border-radius: 6px !important;
}
body.checkout-cart-index .cart.actions button.action {
    opacity: 1 !important;
}
body.checkout-cart-index .detail-row .right .field.qty {
    display: flex;
}
body.checkout-cart-index .detail-row .right .field.qty label.label {
    margin: auto 5px auto 0;
}
body.checkout-cart-index .right-content {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Noto Sans';
}

.opc-block-summary .table-totals tbody .amount {
    padding: 6px 2px 6px 6px;
}

.opc-block-summary .table-totals tbody .grand.totals.discount {
    display: none;
}

body.checkout-cart-index .right-content .action.clear {
    border: none;
    padding: 0;
    height: auto;
    background: none;
}
body.checkout-cart-index .right-content .action.clear span {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #FC0000;
    opacity: .8;
    text-transform: uppercase;
}
body.checkout-cart-index .cart-container .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    order: -1;
    padding: 0 35px 0 15px;
}
body.checkout-cart-index .item-info {
    border: 1px solid #DEDEDE;
    border-radius: 8px!important;
    padding: 1rem 0;
    width: 98%;
}

.cart-container {
    padding: 0 10px;
}

.checkout-cart-index .cart-discount .block .content {
    display: block !important;
}

#checkout.checkout-container {
    padding: 0 10px;
}

.checkout-payment-method .step-title {
    padding: 0 10px;
}

.checkout-payment-method .payment-method-title {
    padding-left: 15px;
}

.checkout-cart-index .page-title-wrapper .page-title {
    padding-left: 10px;
}

.checkout-cart-index .cart-summary .block .title:after {
    display: none;
}

.checkout-cart-index .cart-summary .block .title {
    cursor: unset;
}

.cart.table-wrapper .product-item-name {
    display: inline-grid;
}

.qty-changer .qty-inc {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.qty-changer .qty-dec {
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

body.checkout-index-index .opc-sidebar {
    margin-top: -75px;
}

.tc-validate-placements {
    display: block;
    overflow: initial;
}
.tc-verify-boxes {
    display: block;
    float: none;
}
.tc-labels {
    width: auto;
}
#tc-tc-dropdown {
    width: 10.5rem;
}
.validation-message-error {
    padding-left: 1px;
}
.validation-message-success{
    position: static !important;
    padding-left: 1px;
}
.modal-inner-wrap{
    min-width: 280px;
    margin-left: -20px;
}
.opc-block-summary{
    width: auto;
}

.cart.table-wrapper .product-item-details{
    padding-left: 90px;
    border-radius: 6px !important;
}
.cart.table-wrapper .product-image-container{
    background: none;
    display: block;
    min-width: 156px;
}
.cart.table-wrapper .product-image-wrapper .product-image-photo{
    border-radius: 6px !important;
}
.cart-totals tbody .grand.totals .amount{
    font-size: 18px;
}


.product-bv:before {
    display: inline-flex;
    content: 'cart';
    border: none;
    color: transparent;
    background: url(/pub/media/wysiwyg/bv-icon.png) no-repeat;
    background-position-y: -3px;
    width: 23px;
    background-size: 15px 15px;
}
.product-bv {
    position: relative;
    padding: 4px 6px;
    background-color: #89d2f7;
    border-radius: 24px;
    height: revert;
    display: inline-block;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #ffffff !important;
    margin-bottom: 10px;
}
.product-rsp:before {
    display: inline-flex;
    content: 'cart';
    border: none;
    color: transparent;
    background: url(/pub/media/wysiwyg/rsp-icon.png) no-repeat;
    background-position-y: -3px;
    width: 23px;
    background-size: 15px 15px;
}
.product-rsp {
    position: relative;
    padding: 4px 6px;
    background-color: #f8c064;
    border-radius: 24px;
    height: revert;
    display: inline-block;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #ffffff !important;
    margin-bottom: 10px;
}


.owl-carousel .owl-item img{
    border-radius: 10px;
}
.box-tocart .action.tocart {
    background: #ea7021;
    border-radius: 10px;
}
.box-tocart .action.tocart:hover {
    background: #d86300;
}
.box-tocart .actions {
    float: right;
}
body.checkout-index-index .earn-point.bv {
    position: relative;
    padding: 4px 6px;
    background-color: #89d2f7;
    border-radius: 24px;
    height: revert;
    display: inline-block;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #ffffff !important;
}
body.checkout-index-index .earn-point.rsp {
    position: relative;
    padding: 4px 6px;
    background-color: #f8c064;
    border-radius: 24px;
    height: revert;
    display: inline-block;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #ffffff !important;
}
body.checkout-index-index .earn-point.bv:before {
    background-image: url(/pub/media/wysiwyg/bv-icon.png);
    background-size: 12px 12px;
}
body.checkout-index-index .earn-point.rsp:before {
    background-image: url(/pub/media/wysiwyg/rsp-icon.png);
    background-size: 12px 12px;
}
body.checkout-index-index .earn-point:before {
    content: 'cart';
    border: none;
    color: transparent;
    width: 13px;
    height: 11px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-right: 3px;
}

.modal-content{
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 6px;
}
.modal-popup .modal-content {
    margin: unset;
    border: unset;
    box-shadow: unset;
    padding-bottom: 5px;
}
.opc-block-summary .product-item .product-item-name-block{
    display: block;
}

#block-summary{
    display: none !important;
}
.special-free.design {
    display: none;
}
.special-free.design span {
    background: #DAF2E2;
    border-radius: 6px;
    padding: 2px 8px;
    width: auto;
    height: auto;
    display: block;
    clear: both;
    font-size: 12px;
    font-weight: 600;
}
.special-free.design span:before {
    content: '*';
    background: url(/media/wysiwyg/shipping-icon.png) no-repeat;
    color: transparent;
    background-position-y: 5px;
    display: inline-block;
    margin-right: 7px;
    width: 20px;
}

#address-details-div {
    height: auto;
}
#address-details-div span{
    font-size: 11px;
    display : none;
}
body.checkout-index-index #address-details-div ul.shipping-address-ul {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #f5a306;
    border-radius: 6px;
    width: 95%;
    padding: 15px 15px;
}
#pickup_event {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

#condition-remark-div span{
    font-size: 11px;
    float: left;
    margin-top: 15px;
    display : none;
}

body.checkout-index-index #co-payment-form hr{
    display: none;
}

.thead-data{
    display: none;
}
.shipping-information{
    display: none;
}

html .btn-light {
    color: #222529;
    background-color: #fff;
    border-color: #fff #fff #e6e6e6;
}
html .btn-quaternary {
    color: #fff;
    background-color: #323232;
    border-color: #323232 #323232 #191919;
}
html .background-color-secondary {
    background-color: #f4a085 !important;
}
.top-icon .porto-sicon-header {
    margin-bottom: .75rem;
}
.main-panel-top {
    display: none;
    border-bottom: 1px solid #e7e7e7;
    font-family: 'Open Sans';
}
.page-header.type15 .panel.wrapper {
    min-height: 48px;
    font-size: 12px;
}
.page-header.type15 .nav-sections .navigation {
    max-width: 100%;
}
.page-header.type15 .header-main .separator {
    display: none;
}
.page-header.type15 .header-contact .wishlist i {
    font-size: 27px;
}
.minicart-wrapper .action.showcart .counter.qty {
    background-color: #b35827;
}
.page-wrapper > .breadcrumbs {
    border-top: 1px solid #e7e7e7;
    margin-bottom: 35px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: .05em;
}
.page-wrapper > .breadcrumbs .items {
    padding-top: 16px;
    padding-bottom: 16px;
}
.page-wrapper > .breadcrumbs .items>li.home a {
    width: auto;
    text-indent: 0;
}
.page-wrapper > .breadcrumbs .items>li.home a:after {
    display: none;
}
.page-wrapper > .breadcrumbs ul.items > li.item a {
    pointer-events: none;
    cursor: default;
}
.catalog-category-view .sidebar.sidebar-main .sidebar-content,.catalogsearch-result-index .sidebar.sidebar-main .sidebar-content {
    border: none;
}
.sidebar .sidebar-content .block-category-list, .side-custom-block .custom-block,.filter-options-item,.filter-actions {
    padding: 0;
    margin-bottom: 30px;
    border: none;
}
.filter-current {padding: 0;}
.block-category-list .block-title, .side-custom-block .custom-block h2, .filter-options-title, .filter .filter-current-subtitle {
    border-bottom: 1px solid #e7e7e7;
    padding: 0 0 6px;
    margin-bottom: 0;
    line-height: 1.4;
    font-size: 12px;
    font-weight: 600;
    color: #000;
    letter-spacing: .05em;
    font-family: Poppins,sans-serif;
}
.side-custom-block .custom-block h2 {
    margin-bottom: 10px;
}
.block-category-list .block-content,.filter-options-content,.custom-block .block-content, .filter-current .items,.filter-actions {
    padding-left: 15px;
}
.block-category-list .block-content ol li a {
    font-size: 12px;
    padding: 4px 0;
    font-weight: 400;
}
.side-custom-block .custom-block:last-child {
    margin-bottom: 0;
}
.side-custom-block .custom-block h5 {
    margin-top: 0 !important;
}
.product-item-info .product-item-details .product-item-actions .tocart {
    letter-spacing: 0;
    background-color: #ea7021;
    color: #ffffff;
    border-radius: 6px;
}
.block-minicart .block-content > .actions > .primary .action.primary{
    background-color: #ea7021;
    border-radius: 6px;
}
.block-minicart .block-content > .actions > .primary .action.primary:hover{
    background-color: #d86300;
}

.cart-summary {
    border-radius: 6px;
}
.cart-summary .checkout-methods-items .action.primary.checkout {
    background-color: #ea7021;
    border-radius: 6px;
}
.cart-summary .checkout-methods-items .action.primary.checkout:hover {
    background-color: #d86300;
}
.price-box .price {
    font-family: 'Open Sans';
}
.product-item-info .product-item-details .price-box {
    margin-bottom: 0 !important;
    min-height: 37px;
}
.widget, .sidebar-content .widget {margin-top: 1.5rem;margin-bottom: 1.5rem;}
.widget .widgettitle {
    font-size: 1rem;
    letter-spacing: -.02em;
}
.footer, .footer p {
    letter-spacing: 0;
}
.footer .widgettitle, .footer .widget-title {
    font-size: 1.23em;
    text-transform: none;
    font-weight: 600;
}
.footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6 {
    color: #fff;
}
html .background-color-secondary {
    background-color: #ff7272!important;
}
.footer-top .custom-block:before, .footer-top .custom-block::after {
    display: none;
}
.footer-top > .container {
    max-width: 100%;
}
.footer-bottom address {
    text-align: center;
}
.footer-middle {
    background: #333 !important;
}
.footer-middle p {
    color: #e8e8e8 !important;
}
.footer-middle a {
    color: #fff !important;
    text-decoration: underline;
}
.footer-middle img {
    width: 60px;
}
.footer-middle>.container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.footer-middle > .container::after{
    border-bottom: 0px !important;
}
.footer-bottom{
    padding: 0;
}
.footer-bottom .custom-block.f-right{
    display: none;
}

.footer-bottom .container {
    padding-top: 10px;
}

.checkout-success {
    text-align: center;
}
.checkout-success p {
    display: none;
}
.checkout-success .order-number{
    display: none;
}
.checkout-success .success-txt {
    display: block !important;
}
.checkout-success a {
    background-color: #ea7021;
    border-radius: 6px;
    height: revert;
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    color: #ffffff !important;
    line-height: 1.42857;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .15em;
    padding: 1.125em 2.1em;
    font-family: Poppins,sans-serif;
    font-size: .8rem;
    width: auto;
    margin-bottom: 20px;
}

.checkout-success a:hover {
    background-color: #d86300;
}

.checkout-success .actions-toolbar {
    text-align: center;
}

.checkout-success .actions-toolbar > .primary{
    float: none;
    margin: 0 0px 0 0;
}
.checkout-success .actions-toolbar > .primary a{
    min-width: 280px !important;
    margin: 0;
}

#shipping-method-buttons-container{
    padding-right: 20px;
}

.discount-code {
    display: none;
}

.checkout-payment-method .payment-option._collapsible .payment-option-title {
    display: none;
}

.sw-megamenu.navigation li.level0.fullwidth > .submenu {
    width: 80%;
}

.sw-megamenu.navigation .subchildmenu.mega-columns.columns4 > li {
    width: auto;
    white-space: nowrap;
    display: contents;
}

.product-info-main .product.overview{
    font-size: 12px;
    margin-top: 10px;
}

[data-content-type='row'][data-appearance='contained'] {
    font-size: 12px;
}

[data-content-type='html'] {
    font-size: 12px;
}

.product.data.items > .item.content p {
    font-size: 12px;
}

.product.data.items > .item.title.active a:after {
    content: '' !important;
    font-family: 'porto-icons';
    display: none;
}

#product-brand span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #5C627C;
    text-align: left;
}

.brand {
    font-size: 10px;
}

.sw-megamenu.navigation li.level0.fullwidth:hover>.submenu {
    left: initial;
    width: auto;
}

.prev-next-products .product-nav {
    display: none;
}

.prev-next-products .product-nav {
    display: none;
}

.catalog-category-view div#product-brand {
    display: none;
}

.product-item-details div#product-brand {
    display: block;
}

.catalog-category-view .product.details.product-item-details div#product-brand {
    display: block;
}

.sw-megamenu.navigation li.level0.fullwidth .submenu li.level1>a, .sw-megamenu.navigation li.level0.staticwidth .submenu li.level1>a {
    font-weight: 400;
    padding-bottom: 20px;
}

form#search_mini_form {
    width: 100%;
}

.search-area .block.block-search {
    width: 100% !important;
    background-color: #f4f4f4;
}
.page .messages{
    margin: auto;
    width: 70%;
    padding: 10px 0 50px 0;
}
.search-category {
    display: none;
}
.category-description img {
    width: 100%
}

.block-search input::placeholder {
    opacity: 0.5;
}

.page-header .sw-megamenu.navigation li.level0.fullwidth>.submenu .level1>a>span {
    border-bottom: 0px;
}

.page-header .sw-megamenu.navigation li.level0.fullwidth>.submenu .level1>a>span:hover {
    border-bottom: 0px;
}

.owl-carousel .owl-nav .owl-prev:before {
    left: 5px;
}
.owl-carousel .owl-nav .owl-next:before {
    left: -5px;
}

body.site-account-success .main_content {
    margin: 64px 0;
    text-align: center;
}

body.site-account-success .title_page {
    color: #ea7021;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    margin: 57px 0 10px;
}

body.site-account-success .description {
    color: #ea7021;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}

#maincontent p {
    margin-bottom: 0px !important;
    line-height: 1.75em !important;
    font-size: 14px !important;
    font-family: Poppins;
}

body.site-account-success .main_content p {
    color: #3C4051;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin: 12px 0;
}

body.site-account-success .main_content .content_infor p {
    color: #3C4051;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin: 12px 0;
}

body.site-account-success .content_infor .information .caption {
    width: 38%;
    color: #3C4051;
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

body.site-account-success .infor_user {
    color: #ea7021;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    padding-left: 20px;
    text-align: left;
    width: 62%;
}

body.site-account-success .content_infor {
    display: block;
    width: 100%;
    height: auto;
    max-width: 320px;
    margin: 0 auto;
}

body.site-account-success .content_infor .information {
    display: flex;
}

body.site-account-success #maincontent .link_login a {
    display: inline-flex;
    width: 100%;
    height: 48px;
    max-width: 273px;
    background: #ea7021;
    border: 1px solid #399358;
    border-radius: 8px;
    margin: 40px auto 0;
    color: #FFF!important;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    text-decoration: none;
    justify-content: center;
}

.sales-order-view .actions-toolbar.order-actions-toolbar .actions .action.print{
    display: inline;
    margin: 0;
}

.sw-megamenu.navigation li.level0.staticwidth .submenu li.level1>a {
    padding: unset;
    font-weight: bold;
}

.sw-megamenu.navigation li.level0 .ui-menu-item > a:before {
    display: none;
}

@media (min-width: 1500px) {
    .page-header.type15 .search-area {
        margin-right: 1em;
    }
    .page-layout-2columns-left .sidebar-main,.page-layout-2columns-right .sidebar-main {
        flex: 0 0 20%;
        width: 20%;
    }
    .page-layout-2columns-left .column.main,.page-layout-2columns-right .column.main {
        flex: 0 0 80%;
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .page-header.type15 .header-main .header-right {
        flex: 1;
    }
    .page-header.type15 .header-main .header-left {
        flex: inherit;
    }

    .bv-box:before{
        width: 10px;
        background-size: 10px 10px;
    }
    .bv-box{
        padding: 4px 0 0 0;
        font-size: 14px !important;
    }
    .rsp-box:before{
        width: 10px;
        background-size: 10px 10px;
    }
    .rsp-box{
        padding: 4px 0 0 0;
        font-size: 14px !important;
    }

}
@media (min-width: 992px) {
    .page-header.type15 .header-main .header-left, .page-header.type15 .header-main .header-right {
        padding-top: 0;
        padding-bottom: 0;
    }
    .page-header.type15.sticky-header .header-main .header-left, .page-header.type15.sticky-header .header-main .header-right {
        padding-top: 0;
        padding-bottom: 0;
    }
    .page-header.type15 .switcher:first-child .options .action.toggle {
        padding-left: 0;
    }
    .page-header.type15 .header.panel > .header.links > li {
        padding: 0 5px;
    }
    .page-header.type15 .header.panel > .header.links > li > a {
        text-transform: uppercase;
        font-weight: 600;
        line-height: 26px;
        padding: 0;
    }
    .page-header.type15 .header.panel > .header.links > li:last-child {
        padding-right: 0;
    }
    .page-header.type15 .header.panel > .header.links > li:after {
        content: "|";
        font-weight: 300;
        position: relative;
        top: -1px;
        font-size: .95em;
        opacity: .8;
        margin: 0 4.5px 0 10.5px;
    }
    .page-header.type15 .header.panel > .header.links > li:last-child:after {
        display: none;
    }
    .page-header.type15 .navigation:not(.side-megamenu) li.level0 .submenu .container {
        padding-left: 10px !important;
        padding-right: 10px !important;
        max-width: 100%;
    }
    .page-header.type15 .navigation .level0 .submenu a {
        font-family: Open Sans,sans-serif;
    }
    .page-header.type15 .navigation:not(.side-megamenu) .level0 .level-top {
        font-family: Open Sans,sans-serif;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: -.5px;
        padding: 35px 15px 35px 15px;
    }
    .page-header.type15.sticky-header .navigation:not(.side-megamenu) .level0 .level-top {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .page-header.type15 .header-contact .wishlist {
        margin: 0;
        top: 1px;
        position: relative;
    }
    .page-header.type15 .minicart-wrapper {
        height: 27px;
    }
    .page-header.type15 .search-area {
        max-width: 568px;
    }
    .page-header.type15 .search-area .minisearch .actions button {
        color: #fff;
        background: #222529;
        border-radius: 0 24px 24px 0;
        padding: 0 28px 0 21px;
        font-size: 19.5px;
        width: auto;
    }
    .page-header.type15 .block-search .action.search:before {
        font-weight: 400;
    }
    .page-header.type15 .search-category {
        right: 70px !important;
    }
    .page-header.type15 .block-search input, .page-header.type15 .search-category {
        height: 48px;
        font-style: normal;
    }
    .footer-middle .col-lg-3:last-child {
        text-align: right;
    }
    .bv-box:before{
        width: 10px;
        background-size: 10px 10px;
    }
    .bv-box{
        padding: 4px 0 0 0;
        font-size: 14px !important;
    }
    .rsp-box:before{
        width: 10px;
        background-size: 10px 10px;
    }
    .rsp-box{
        padding: 4px 0 0 0;
        font-size: 14px !important;
    }
    .sw-megamenu.navigation li.level0.fullwidth .submenu li.level1>a, .sw-megamenu.navigation li.level0.staticwidth .submenu li.level1>a {
        padding: 7px 0;
    }
    .page-header .navigation:not(.side-megamenu) .level0.parent:hover > a > span:after {
        bottom: -4px;
    }
    .page-header .navigation:not(.side-megamenu) .level0.parent:hover > a > span::before{
        top: 1;
        bottom: -4px;
    }
    .sw-megamenu.navigation li.level0.fullwidth:hover>.submenu {
        margin-top: 2px !important;
        box-shadow: 0 10px 20px rgb(0 0 0 / 38%);
    }
    .sw-megamenu.navigation li.level0.fullwidth{
        height: 45px;
    }
    .page-wrapper>.breadcrumbs {
        height: 45px;
    }
    ul.items {
        height: 45px;
    }

    .page-wrapper>.breadcrumbs .items {
        padding: unset;
    }
    .sw-megamenu.navigation li>a>span {
        border-bottom: 2px solid #ffffff;
    }

    .sw-megamenu.navigation li>a>span:hover {
        border-bottom: 2px solid #ec7f0f;
    }
}
@media (min-width:992px) and (max-width: 1279px) {
    .page-header.type15 .navigation:not(.side-megamenu) .level0 .level-top {
        padding: 35px 10px 35px 10px;
    }
}

@media (max-width: 991px) {
    .main-panel-top {
        display: none;
    }
    .header.links .order-history-btn {
        display: none;
    }
}

@media (min-width: 820px){
    body.checkout-index-index .opc-sidebar{
        margin-top: -40px;
    }
    .modal-inner-wrap{
        margin-left: -20px;
    }
    .bv-box:before{
        width: 10px;
        background-size: 10px 10px;
    }
    .bv-box{
        padding: 4px 0 0 0;
        font-size: 14px !important;
    }
    .rsp-box:before{
        width: 10px;
        background-size: 10px 10px;
    }
    .rsp-box{
        padding: 4px 0 0 0;
        font-size: 14px !important;
    }
    .sw-megamenu.navigation li.level0.fullwidth > .submenu {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .page-layout-1column .product-info-main, .page-layout-2columns-left .product-info-main, .page-layout-2columns-right .product-info-main, .page-layout-3columns .product-info-main,.page-product-downloadable .product-options-bottom {
        width: 57.17%;
    }
    .page-layout-1column .product.media, .page-layout-2columns-left .product.media, .page-layout-2columns-right .product.media, .page-layout-3columns .product.media,.page-product-downloadable .product-options-wrapper {
        width: 40.83%;
    }

    .page-layout-1column .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-left .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-right .column.main > .custom-block ~ .product-info-main, .page-layout-3columns .column.main > .custom-block ~ .product-info-main {
        width: 42.8775%;
    }
    .page-layout-1column .column.main > .custom-block ~ .product.media, .page-layout-2columns-left .column.main > .custom-block ~ .product.media, .page-layout-2columns-right .column.main > .custom-block ~ .product.media, .page-layout-3columns .column.main > .custom-block ~ .product.media {
        width: 30.6225%;
    }
    .modal-content{
        width: auto;
    }
    .bv-box:before{
        width: 10px;
        background-size: 10px 10px;
    }
    .bv-box{
        padding: 4px 0 0 0;
        font-size: 14px !important;
    }
    .rsp-box:before{
        width: 10px;
        background-size: 10px 10px;
    }
    .rsp-box{
        padding: 4px 0 0 0;
        font-size: 14px !important;
    }
    .pagebuilder-mobile-only{
        display: none !important;
    }
    .sw-megamenu.navigation li.level0.fullwidth > .submenu {
        width: 100%;
    }
    .page-layout-1column .block.widget .products-grid ol.product-items.widget-product-grid .product-item {
        margin-left: 1%;
        margin-right: 1%;
        width: calc((100% - 8%) / 4);
    }
    .page-layout-1column .block.widget .products-grid ol.product-items.widget-product-grid .product-item:nth-child(4n+1) {
        clear: left;
    }
    .catalog-category-view #layer-product-list .products-grid li.item.product.product-item {
        margin-left: 1%;
        margin-right: 1%;
        width: calc((100% - 8%) / 4);
    }
    .abs-discount-block .fieldset, .paypal-review-discount .fieldset, .cart-discount .fieldset .field .control {
        width: 200px;
    }
}
@media (min-width: 1200px) {
    #layer-product-list li.item.product.product-item:nth-child(4n+1) {
        clear: left;
    }
    #layer-product-list-custom li.item.product.product-item:nth-child(4n+1) {
        clear: left;
    }
}
@media only screen and (max-width: 1200px) and (min-width: 767px) {
    #layer-product-list li.item.product.product-item:nth-child(4n+1) {
        clear: left;
    }
    #layer-product-list-custom li.item.product.product-item:nth-child(4n+1) {
        clear: left;
    }
}
@media (max-width: 575px) {
    #layer-product-list li.item.product.product-item:nth-child(2n+1) {
        clear: left;
    }
    #layer-product-list-custom li.item.product.product-item:nth-child(2n+1) {
        clear: left;
    }
}


@media (max-width: 767px) {
    .main-panel-top {
        display: none;
    }
    #homepage-txt3 ul li {
        width: 40%;
    }
    .footer .footer-bottom > .container {
        max-width: 90%;
    }
    .desktop-only{
        display: none;
    }
    .mobile-only{
        display: block;
    }
    .cart.table-wrapper .product-item-details{
        padding-left: 0px;
    }
    .cart.table-wrapper .product-image-container {
        left: -30px;
    }
    .cart.table-wrapper .col.item:before {
        display: none;
    }
    body.checkout-index-index .opc-sidebar {
        margin-top: 1px;
    }
    .modal-content{
        width: 85% !important;
    }
    .bv-box:before{
        width: 10px;
        background-size: 10px 10px;
    }
    .bv-box{
        padding: 4px 0 0 0;
        font-size: 10px;
    }
    .rsp-box:before{
        width: 10px;
        background-size: 10px 10px;
    }
    .rsp-box{
        padding: 4px 0 0 0;
        font-size: 10px;
    }
    .sw-megamenu.navigation li.level0.fullwidth > .submenu {
        width: 100%;
    }

    #total-bv-span.tooltip:before {
        font-size: 11px;
        font-weight: 300;
        padding: 5px;
        line-height: 15px;
        top: -125%;
        margin-left: unset;
        width: 250px;
        left: unset;
        right: 0;
    }

    #total-bv-span.tooltip:after {
        content: "";
        position: absolute;
        left: 30%;
        margin-left: -5px;
        top: -30%;
        transform: translateY(-50%);
        border: 10px solid #000;
        border-color: transparent black transparent transparent;
    }

    #remaining-bv-span.tooltip:before {
        font-size: 11px;
        font-weight: 300;
        padding: 5px;
        line-height: 15px;
        top: -150%;
        margin-left: unset;
        width: 250px;
        left: unset;
        right: 0;
    }

    #remaining-bv-span.tooltip:after {
        content: "";
        position: absolute;
        left: 30%;
        margin-left: -5px;
        top: -30%;
        transform: translateY(-50%);
        border: 10px solid #000;
        border-color: transparent black transparent transparent;
    }

    body.site-account-success .title_page{
        font-size: 26px;
    }

    #total-bv-span.tooltip:before {
        font-size: 11px;
        font-weight: 300;
        padding: 5px;
        line-height: 15px;
        top: -135%;
        margin-left: unset;
        width: 250px;
        left: -210%;
        right: 0;
    }

    #total-bv-span.tooltip:after {
        content: "";
        position: absolute;
        left: 30%;
        margin-left: -10px;
        top: -30%;
        transform: translateY(-50%);
        border: 10px solid #000;
        border-color: transparent black transparent transparent;
    }

    #remaining-bv-span.tooltip:before {
        font-size: 11px;
        font-weight: 300;
        padding: 5px;
        line-height: 15px;
        top: -170%;
        margin-left: unset;
        width: 250px;
        left: -210%;
        right: 0;
    }

    #remaining-bv-span.tooltip:after {
        content: "";
        position: absolute;
        left: 30%;
        margin-left: -10px;
        top: -20%;
        transform: translateY(-50%);
        border: 10px solid #000;
        border-color: transparent black transparent transparent;
    }


    #temp-order-span.tooltip:before {
        font-size: 11px;
        font-weight: 300;
        padding: 5px;
        line-height: 15px;
        top: -120%;
        margin-left: unset;
        width: 250px;
        left: -150%;
        right: 0;
    }
    #temp-order-span.tooltip:after {
        content: "";
        position: absolute;
        left: 30%;
        margin-left: -10px;
        top: 10%;
        transform: translateY(-50%);
        border: 10px solid #000;
        border-color: black transparent transparent transparent;
    }

    #my-ecard-allocation-history th.col.number span.tooltip:before {
        font-size: 11px;
        width: 200px;
        left: -100%;
        top: 260%;
        z-index: 9999999;
        position: absolute;
    }

    #my-ecard-allocation-history th.col.balance span.tooltip:before {
        font-size: 11px;
        width: 200px;
        left: -20%;
        top: 420%;
        z-index: 9999999;
        position: absolute;
    }

    #my-ecard-allocation-history th.col.number span.tooltip:after {
        top: 100%;
        border-color: transparent transparent black transparent;
    }

    #my-ecard-allocation-history th.col.balance span.tooltip:after {
        top: 120%;
        left: 20px;
        border-color: transparent transparent black transparent;
    }

}

@media only screen and (max-width: 639px){
    .thead-data{
        display: inline !important;
    }
    li#bv_alloc div#tc-bv-content {
        margin-top: 1em;
        padding-top: 1em;
        border-top: 1px solid #e7e7e7;
    }
    li#bv_alloc .table-wrapper {
        padding-top: 1em;
    }
    li#bv_alloc select.bv-value-dropdown {
        width: 50%;
    }
    li#bv_alloc #my-bv-allocation thead{
        display: none;
    }
    table#my-bv-allocation tbody[data-bind="foreach: bvDistributionArray"]{
        font-weight: 700;
    }
    .abs-discount-block .fieldset, .paypal-review-discount .fieldset, .cart-discount .fieldset {
        /* display: inline-grid; */
        width: 100%;
    }
}

@media only screen and (max-width: 767px) and (min-width: 641px){
    .page-layout-1column .block.widget .products-grid ol.product-items.widget-product-grid .product-item:nth-child(4n+1) {
        clear: unset !important;
    }
    .page-layout-1column .block.widget .products-grid ol.product-items.widget-product-grid .product-item:nth-child(3n+1) {
        clear: left;
    }
    .catalog-category-view #layer-product-list li.item.product.product-item:nth-child(4n+1) {
        clear: unset !important;
    }
    .catalog-category-view #layer-product-list li.item.product.product-item:nth-child(3n+1) {
        clear: left;
    }
}

@media (max-width: 575px){
    body {
        font-size: 13px;
        line-height: 21px;
    }
    #homepage-txt3 {
        padding: 0 0 3rem 0 !important;
    }
    #homepage-txt3 ul li a img {
        height: auto;
        border-radius: 1rem;
    }
    #homepage-txt3 ul li {
        width: 40%;
    }
    .thead-data{
        display: inline !important;
    }
    .sw-megamenu.navigation li.level0.fullwidth > .submenu {
        width: 100%;
    }
    .search-area.show-icon-tablet .block.block-search {
        right: unset;
        width: 95vw !important;
        min-width: unset;
        position: fixed;
        top: 90px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .search-area .search-toggle-icon:after {
        margin-left: -21px;
    }

}

@media (max-width: 480px){
    #html-body [data-pb-style=B2QOQLA] {
        height: 120px;
    }
    .head_title h1 {
        font-size: 28px;
    }
    .vc_custom_heading.mb-1.align-left.text-uppercase{
        font-size: 24px !important;
    }
    .heading-tag.text-uppercase{
        font-size: 18px !important;
    }
    .vc_custom_heading.pb-4.mb-4.mb-lg-5.custom-font4.align-left{
        font-size: 16px !important;
    }
    .thead-data{
        display: inline !important;
    }
    .product-item .tocart:before {
        display: none;
    }
    .product-item .tocart span {
        margin-left: 1px;
    }
    .product-items .item.product.product-item .action.tocart.primary {
        width: 60px !important;
        font-size: 8px;
    }
    .product-item-info .product-item-details .product-item-actions .tocart {
        width: 60px !important;
        font-size: 8px;
    }
    .products .product-item {
        padding-left: 5px;
        padding-right: 5px;
    }
    .bv-box:before{
        width: 10px;
        background-size: 10px 10px;
    }
    .bv-box{
        padding: 4px 0 0 0;
        font-size: 10px;
    }
    .rsp-box:before{
        width: 10px;
        background-size: 10px 10px;
    }
    .rsp-box{
        padding: 4px 0 0 0;
        font-size: 10px;
    }
    .price-box .price {
        font-size: 14px !important;
    }
    .product-info-main .page-title-wrapper h1 {
        font-size: 1.3rem;
    }
    .product-info-price {
        font-size: 1.2rem;
        line-height: 2;
    }
    .sw-megamenu.navigation li.level0.fullwidth > .submenu {
        width: 100%;
    }

}

@media (max-width: 320px){
    #remaining-bv-span.tooltip:before {
        line-height: 15px;
        top: -20%;
        margin-left: unset;
        right: -20px;
    }

    #remaining-bv-span.tooltip:after {
        left: 30%;
        margin-left: -30px;
        top: 35%;
        transform: translateY(-50%);
        border: 10px solid #000;
        border-color: transparent black transparent transparent;
    }
}

/*This css for vcon only*/
.product.details.product-item-details #product-brand span {
    display: none;
}
.product-info-main .product-brand-main {
    display: none;
}

.header.content.header-row {
    border-bottom: 1px solid #e7e7e7;
}

.navigation li.level0 .ui-menu-item > a:before{
    display:none
}

.sw-megamenu.navigation li.level0.fullwidth .submenu li.level1>a,
.sw-megamenu.navigation li.level0.staticwidth .submenu li.level1>a{
    padding:2px  0 0 0;
    font-weight:bold;
}
li.ui-menu-item.level0.staticwidth.parent:nth-child(3) li.level1>a,
li.ui-menu-item.level0.staticwidth.parent:nth-child(4) li.level1>a,
li.ui-menu-item.level0.staticwidth.parent:nth-child(7) li.level1>a{
    font-weight:normal;
    padding: 2px 0;
}

li.ui-menu-item.level0.staticwidth.parent:nth-child(2) a.level-top,
li.ui-menu-item.level0.staticwidth.parent:nth-child(3) a.level-top,
li.ui-menu-item.level0.staticwidth.parent:nth-child(4) a.level-top{
    pointer-events: none;
}

.toolbar a.porto-product-filters-toggle {
    display: none !important;
}

.checkout-index-index .search-area.show-icon-tablet .block.block-search{
    right: -8px
}

.block-home-container .flash-sale .promo-widget-a-parent .product-name-group .product-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.block-home-container .flash-sale .promo-widget-a-parent .description {
    display: none;
}

.block-home-container .flash-sale .promo-widget-a-parent-full .product-name-group .product-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

@media only screen and (max-width: 591px) {

    .block-home-container .flash-sale .promo-widget-a-parent-full {
        width: 90%;
    }

    .block-home-container .flash-sale .stylefilled-promo-amount2 .head .timer-container {
        width: 30px;
        height: 32px;
    }

    .block-home-container .flash-sale .stylefilled-promo-amount2 .head .unit {
        width: 30px;
        height: 18px;
        align-self: auto;
    }

    .block-home-container .flash-sale .stylefilled-promo-amount2 .head .label {
        gap: 1px;
    }

    .block-home-container .flash-sale .stylefilled-promo-amount2 .head .start-at {
        font-size: 12px;
    }


    .block-home-container .flash-sale .stylefilled-promo-amount2 .head .unit1 {
        font-size: 10px;
    }

    .block-home-container .flash-sale .stylefilled-promo-amount2 .head .digits, .block-home-container .flash-sale .stylefilled-promo-amount2 .head .timer {
        gap: 1px;
    }

    .products-grid .product-item-info .badge-product-label-image img {
        /*max-height: 30px;*/
    }

}

@media only screen and (max-width: 410px) {

    .block-home-container .flash-sale .stylefilled-promo-amount2 .head .hour {
        width: 25px;
    }

    .block-home-container .flash-sale .stylefilled-promo-amount2 .head .timer-container {
        width: 25px;
        height: 25px;
    }

    .block-home-container .flash-sale .stylefilled-promo-amount2 .head .unit {
        width: 25px;
        height: 15px;
    }

    .block-home-container .flash-sale .stylefilled-promo-amount2 .head .unit1 {
        font-size: 8px;
    }

    .block-home-container .flash-sale .stylefilled-promo-amount2 .head .start-at {
        font-size: 10px;
    }

    .block-home-container .flash-sale .stylefilled-promo-amount2 .head .label .timeroutlined-icon {
        width: 15px;
        height: 15px;
    }
    .block-home-container .flash-sale .stylefilled-promo-amount2 .head .head-fs-logo {
        width: 55%;
        background-size: contain;
    }
    .block-home-container .stylefilled-promo-amount2 .head {
        width: 90%;
    }

}

.block-home-container .flash-sale {
    border: unset;
    border-radius: unset;
}

.block-home-container .flash-sale .promo-widget-a-parent .mini-product-card-11 > a{
    width: 30%;
}

.block-home-container .flash-sale .promo-widget-a-parent .mini-product-card-1-item {
    height: auto;
    width: 100%;
}

li.x-physio-radiance::marker {
    content: "";
}

.block-home-container .flash-sale .promo-widget-a-parent .x-physio-radiance::before {
    content: "-";
}

.block-home-container .flash-sale .promo-widget-a-parent .x-physio-radiance {
    font-size: 10px;
    width: 50%;
}

.block-home-container .flash-sale .stylefilled-promo-amount2 .head {
    margin-bottom: -23px;
}

.block-home-container .flash-sale .promo-widget-a-parent .product-cards{
    height: 100%
}

.flash-sale-top-cat .flash-sale-bar .headline-icon {
    display: block;
    position: inherit;
    float: left;
}

.flash-sale-top-cat .timer {
    position: inherit;
    float: left;
}

.flash-sale-bar.countdown-timer {
    width: fit-content;
}

.flash-sale-top-cat .digits {
    display: block;
}

.flash-sale-top-cat .label {
    display: block;
}

.flash-sale-top-cat .b, .flash-sale-top-cat .digits, .flash-sale-top-cat .hour {
    display: block;
    float: left;
}

.block-home-container .flash-sale .stylefilled-promo-amount2 {
    justify-content: flex-start;
}

.block-home-container .flash-sale .head .head-fs-logo {
    top: 0px;
}

@media screen and (max-width: 767px){
    .flash-sale-top-cat .headline-icon {
        height: 59px;
    }

    .cart-totals tbody .grand.totals .amount {
        padding: 18px 12px;
        font-size: 1rem;
        line-height: 19px;
    }
}

@media screen and (max-width: 410px){
    .flash-sale-top-cat .headline-icon {
        height: 55px;
        margin-right: -30px;
        left: unset;
        width: unset;
    }
    .flash-sale-top-cat .timer {
        float: right;
    }

    .flash-sale-top-cat .timer-container, .flash-sale-top-cat .hour {
        width: 20px;
    }

    .block-home-container .flash-sale .stylefilled-promo-amount2 .head {
        height: 95px;
    }

    .product-image-photo.default_image {
        border-radius: 5px !important;
    }

    main#maincontent {
        padding-left: 10px;
        padding-right: 10px;
    }

    .cart-totals tbody .grand.totals strong, .cart-totals tfoot .grand.totals strong {
        font-size: 0.9rem;
    }

    .cart-totals tbody .mark, .cart-totals tfoot .mark, .cart-totals tbody .amount, .cart-totals tfoot .amount {
        font-size: 0.8rem;
        padding: 5px 5px;
    }

    .cart-summary .block .title strong {
        font-size: 0.9rem;
    }

    .cart-summary .block .title {
        padding: 5px;
    }

    .cart-discount .actions-toolbar button.action:not(:hover) {
        height: 45.5px;
        padding: 10px;
    }

}

@media screen and (max-width: 350px){
    .flash-sale-top-cat .headline-icon {
        height: 43px;
        margin-right: -50px;
        left: unset;
    }

    .flash-sale-bar.countdown-timer {
        width: 100%;
        height: 30px;
    }

    .flash-sale-top-cat .timer{
        gap: 3px;
        position: initial;
        margin: 3px;
    }

    .flash-sale-top-cat {
        height: 30px;
    }

    .columns .column.main {
        padding: unset;
    }

    .product-items .item.product.product-item .action.tocart.primary {
        width: 50px !important;
    }

    .minicart-wrapper .block-minicart {
        width: 250px;
        padding: 10px 5px 5px;
        right: -10px;
    }

    .cart-summary {
        padding: 15px;
    }

    .cart-totals tbody .mark, .cart-totals tfoot .mark, .cart-totals tbody .amount, .cart-totals tfoot .amount {
        font-size: 0.7rem;
        padding: 5px 5px;
    }

    .checkout-cart-index .cart-discount .block .content {
        padding: unset;
    }

    .cart-discount #discount-coupon-form .fieldset .field .control{
        min-width: unset !important;
    }

    a.action.primary.view-order, a.action.primary.continue, span.action.primary.continue, button.action.primary.perfoma, button.action.primary.print{
        min-width: unset !important;
    }

}

.products-grid .product-item-info .badge-product-label-image {
    width: 100%;
}

.products-grid .product-item-info .badge-product-label-image img,
.product.media .badge-product-label-image img {
    max-width: 100%;
    height: auto;
}

.product.media .badge-product-label-image.top-left{
    width: 50% !important;
    max-height: 60px;
}

.block.upsell.porto-products.title-border-bottom {
    display: none;
}

div#minicart-content-wrapper a.action.viewcart {
    border: 1px solid #ea7020;
    padding: 5px;
    border-radius: 3px;
    color: #ea7020;
    font-size: 12px;
}

.cart-discount .actions-toolbar button.action:not(:hover) {
    border: 1px solid #ea7020;
    color: #ea7020;
}

.cart-discount #discount-coupon-form .fieldset .field .control {
    width: 100%;
    min-width: 160px;
}

#discount-coupon-form #coupon_code {
    height: 45px;
}

@media print {
    .hidden-print, .hidden-print * {
        display: none !important;
    }

    div.footer-content, div.footer-bottom, em.porto-icon-up-open {
        display: none;
    }
}