<tr class="new-option">
    <td class="col-default control-table-actions-cell">
        <input name="option[value][option_{{idx}}][{{idx}}]" value="" class="input-text required-option required-unique" type="text">
    </td>
    <td id="delete_button_container_option_{{idx}}" class="col-delete">
        <input type="hidden" class="delete-flag" name="option[delete][option_{{idx}}]" value="">
        <button id="delete_button_option_{{idx}}" title="Delete" type="button" class="action- scalable delete delete-option">
            <span>Delete</span>
        </button>
    </td>
</tr>
