<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <popup>
            <general>
                <enable>1</enable>
                <dont_show_btn>1</dont_show_btn>
            </general>
        </popup>
    </default>
</config>
